<!DOCTYPE html>
<html>
  <head>
    <title>Webview Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/index.css">

    <script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
    <script src="../assets/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/popper.min.js"></script>
    <script src="../assets/bootstrap.min.js"></script>

    <script type="text/javascript" src="../assets/index.js"></script>
  </head>

  <body onload="frontStart()">
    <div class="container h-100 d-flex justify-content-center">
      <div class="jumbotron my-auto">
	<h3 class="display-3" id='msg'>Hello, Twice Changed World!</h3>
	<div class="row">
	  <button id="start-button">Start</button>
	  <button id="progress-button">Progress</button>
	  <button id="finish-button">Finish</button>
	</div>
	<div class="row">
	  <button id="load-button">Load</button>
	  <button id="save-button">Save</button>
	  <button id="down-button">-</button>
	  <button id="up-button">+</button>
	</div>
	<p id="counter-p"></p>
	<pre class="log"></pre>
      </div>
    </div>

  </body>

</html>
