<!DOCTYPE html>
<html>
  <head>
    <title>Webview Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/index.css">

    <script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
    <script src="../assets/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/popper.min.js"></script>
    <script src="../assets/bootstrap.min.js"></script>

    <script type="text/javascript" src="../assets/model.js"></script>
    <script type="text/javascript" src="../assets/index.js"></script>
  </head>

  <body onload="frontStart()">
    <div class="container h-100 d-flex justify-content-center">
      <div class="jumbotron my-auto">
	<div class="main-display">
	  <h3 class="display-3" id='msg'>Hello, Twice Changed World!</h3>
	  <div class="row">
	    <button id="start-button">Start</button>
	    <button id="progress-button">Progress</button>
	    <button id="finish-button">Finish</button>
	  </div>
	</div>
      </div>
      <template id="exercise-screen">
	<div class="exercise">
	  <h3 class="exercise-name display-3"></h3>
	  <div class="exercise-time"></div>
	  <button class="exercise-reset btn btn-primary"> &lt;&lt; </button>
	  <button class="exercise-pause btn btn-primary"> || </button>
	  <button class="exercise-skip btn btn-primary"> &gt;&gt; </button>
	</div>
      </template>
    </div>

  </body>

</html>
